.dashboard-container {
    padding: 40px 50px;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-image: url('../../images/dashbaord.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  
  .dashboard-heading {
    text-align: center;
    font-family: 'Audiowide', sans-serif;
    color: #ff6500;
    margin-bottom: 50px;
    font-weight: bold;
    text-shadow: 0 0 6px rgba(255, 101, 0, 0.6);
  }
  
  .dashboard-card {
    width: 100%;
    max-width: 300px;
    border-radius: 16px;
    transition: all 0.3s ease;
    background: #ffffff;
    border: 2px solid #ff650034;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-card:hover {
    box-shadow: 0 0 15px rgba(255, 101, 0, 0.3);
    transform: scale(1.03);
    animation: pulse 2s infinite;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }
  
  .dashboard-icon {
    font-size: 50px;
    font-size: 3rem;
    color: #FF6500;
    filter: drop-shadow(0 0 5px rgba(255, 101, 0, 0.6));
    margin-bottom: 15px;
  }
  
  .card-title {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
  }
  
  
  .card-count {
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    color: #222;
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
  
  .dashboard-heading {
    animation: pulse 2s infinite;
  }
  
  