.add-network-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../images/edit.jpg");
  padding: 20px;
  overflow: hidden; /* Prevent outer scroll */
}


.add-network-form {
  padding: 20px;
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* Limits height like your device form */
  overflow-y: auto; /* Enables internal scroll */
}


.form-heading {
  text-align: center;
  color: #ff6500;
  font-size: 24px;
  margin-bottom: 20px;
}

.submit-button {
  width: 100%;
  margin-top: 20px;
  background-color: #ff6500;
  color: white;
}
