.reports-container {
    padding: 50px;
    background-color: #fff;
    min-height: 100vh;
  }
  
  .reports-title {
    font-family: "Audiowide", sans-serif;
    color: #FF6500;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0px 0px 5px rgba(255, 101, 0, 0.6);
  }
  
  .reports-table-container {
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .MuiTableCell-root {
    font-family: "Orbitron", sans-serif;
    font-size: 14px;
  }
  